[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
django-environ = "*"
psycopg2-binary = "*"
quickstats-django = {editable = true,extras = ["standalone"],path = "."}

[dev-packages]
black = "==19.3b0"
isort = "*"
flake8 = "*"
nose = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
