[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
python-dateutil = "*"
pytz = "*"
django-simplestats = {editable = true, path = "."}
prometheus-client = "*"

[dev-packages]
"psycopg2-binary" = "*"
black = "==19.3b0"
isort = "*"
"flake8" = "*"
nose = "*"

[requires]
python_version = "3.6"
