<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">

            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        <li class="page-item">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>