{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<h1>{% trans "Streak" %}</h1>

<form action="{% url 'stats:widget-create' %}">
    <input type="hidden" name="type" value="streak">
    <input type="hidden" name="next" value="{{request.path}}" />
    <button class="btn btn-success" href="{% url 'stats:widget-create' %}">{% trans "Create Widget" %}</button>
</form>

<table class="table table-sm">
    <tr>
        <th>&nbsp;</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Updated" %}</th>
        <th>{% trans "Value" %}</th>
        <th>{% trans "Action" %}</th>
        <th colspan="2">{% trans "Description" %}</th>
    </tr>

    {% for widget in object_list %}
    <tr class="widget" data-public="{{widget.public}}">
        <td>
            {% if widget.icon %}
            <img src="{% get_media_prefix %}{{widget.icon}}">
            {% endif %}
        </td>
        <td {% if widget.public%}class="table-primary" {% endif %}>
            <a href="{{widget.get_absolute_url}}">
                {{widget.title}}
            </a>
        </td>
        <td {% if widget.timestamp < midnight %}class="table-secondary"{% endif %}>
            <time datetime="{{widget.timestamp.isoformat}}">{{widget.timestamp}}</time>
        </td>
        <td>{{widget.value}}</td>

        <td>
            <form method="post" action="{% url 'stats:streak-increment' widget.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button class="btn btn-warning btn-sm">+</button>
                by
                <input type="number" name="value" value="1" style="width:4em;" />
            </form>
        </td>
        <td>
            {{widget.description}}
            {% if widget.more %}
            <hr>
            {{widget.more|urlize}}
            {% endif %}
        </td>
        <td>
            <a class="badge badge-warning" href="{% url 'stats:widget-update' widget.id %}">{% trans "Change" %}</a>
            <a class="badge badge-danger" href="{% url 'stats:widget-delete' widget.id %}">{% trans "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
