-i https://pypi.org/simple
-e .[standalone]
celery[redis]==4.3.0
certifi==2019.3.9
chardet==3.0.4
django-environ==0.4.5
django==2.2.24
djangorestframework-csv==2.1.0
djangorestframework==3.11.2
gunicorn
idna==2.8
Pillow==8.2.0
prometheus-client==0.7.0
python-dateutil==2.8.0
pytz==2019.1
redis
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
unicodecsv==0.14.1
urllib3==1.25.8
vine==1.3.0
whitenoise
