{% extends "base.html" %}
{% load simplestats %}
{% block content %}
<h1>{{ object.name }}</h1>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'stats:dashboard' %}">Widgets</a>
  <span class="breadcrumb-item active">{{ widget.title }}</span>
</nav>

{% include 'simplestats/widget/chart.embed.html' %}

<div class="container-fluid">
    <div id="chart_div" style="width: 100%; min-height: 450px;">
        Loading...
    </div>
</div>
{% endblock %}


{% block javascript %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
    google.load("visualization", "1");
    google.setOnLoadCallback(function() {
        var wrap = new google.visualization.ChartWrapper({
            'chartType': 'Line',
            'dataTable': {{ dataTable|safe }},
            'containerId': 'chart_div',
            'options': {
                isStacked: true,
            }
        });
        wrap.draw();
    });
</script>
{% endblock %}
