{% extends "base.html" %}

{% block content %}

<h1>Locations</h1>

<nav class="breadcrumb">
  <span class="breadcrumb-item active">Locations</span>
</nav>

<a href="{% url 'stats:location-calendar' pk=token.key %}">Calendar</a>
<div class="panel panel-default">
    <table class="table table-bordered">
{% for location in location_list %}
        <tr>
            <td><a href="{% url 'stats:location-detail' location.id %}">{{ location.name }} ({{ location.movement_set.count }})</td>
        </tr>
{% endfor %}
    </table>
</div>
{% endblock %}
