{% extends "base.html" %}
{% load simplestats %}
{% block content %}
<h1>{{ object.name }}</h1>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'stats:dashboard' %}">Widgets</a>
  <span class="breadcrumb-item active">{{ widget.title }}</span>
</nav>

<div class="panel panel-default">
    <div class="panel-body">
        <input class="form-control" value="{{ request.scheme }}://{{ request.get_host }}{% url 'api:widget-ifttt' slug=widget.slug %}" />
    </div>

    <table class="table table-condensed">
        <tr>
            <th>Created</th>
            <th>State</th>
            <th>Map</th>
            <th>Note</th>
        </tr>
    {% for waypoint in widget.waypoint_set.all|dictsortreversed:"timestamp" %}
        <tr>
            <td>{{ waypoint.timestamp }}</td>
            <td>{{ waypoint.state }}</td>
            <td>{{ waypoint|gmap|urlizetrunc:32 }}</td>
            <td>{{ waypoint.description }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
