<tr>
    <td><a href="{{widget.get_absolute_url}}">{{widget.name}}</a></td>
    <td>{{widget.owner}}</td>
    <td>{{widget.get_type_display}}</td>
    <td>{{widget.description}}</td>
    <td>{{widget.public}}</td>
    <td>
        <form id="new-widget" action="{% url 'stats:widget-subscribe' pk=widget.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-xm btn-success">Subscribe</button>
        </form>
    </td>
    <td>
        <a class="btn btn-xm btn-secondary" href="{% url 'api:widget-detail' pk=widget.pk format='json' %}">Embed</a>
    </td>
    <td>
        <a class="btn btn-xm btn-warning" href="{% url 'stats:widget-update' pk=widget.pk %}">Update</a>
    </td>
    <td>
        <a class="btn btn-xm btn-danger" href="{% url 'stats:widget-delete' pk=widget.pk %}">Delete</a>
    </td>
</tr>