{% extends "simplestats/base.html" %}
{% load simplestats %}
{% block content %}

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="{% url 'stats:public' %}">Widgets</a>
    {% if owner %}
    <a class="breadcrumb-item active" href="{% url 'stats:browse' owner.username %}">{{owner.username}}</a>
    {% endif %}
</nav>

{% for k, v in type_choices %}
<a href="{{request.get_current_url}}?type={{k}}" class="badge badge-secondary">{{v}}</a>
{% endfor %}

<div style="
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
">
    {% for widget in widget_list %}
    {{ widget|render_widget:request }}
    {% endfor %}
</div>
{% endblock %}
