{% extends "base.html" %}
{% load simplestats %}
{% block content %}

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="{% url 'stats:dashboard' %}">Widgets</a>
  <span class="breadcrumb-item active">{{ widget.title }}</span>
</nav>

<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
      {% include view.embed %}
    </div>
    <div class="col">
        {% if user.is_superuser %}
            <a class="nav-link" href="{% url 'admin:simplestats_widget_change' widget.id %}">Admin</a>
        {% endif %}
    </div>

    {% if widget.sample_set.count %}
    <div id="chart_div" class="colo" style="width: 100%; min-height: 450px;">
        Loading...
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block javascript %}
{% if widget.sample_set.count %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/annotationchart
    google.load("visualization", "1");
    google.setOnLoadCallback(function() {
        var wrap = new google.visualization.ChartWrapper({
            'chartType': 'Line',
            'dataTable': {{ widget|dataTable|safe }},
            'containerId': 'chart_div',
            'options': {
                isStacked: true,
            }
        });
        wrap.draw();
    });
</script>
{% endif %}
{% endblock %}
