.card-widget {
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }