{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            {% if chart.icon %}
            <img style="max-height:32px; max-width: 32px" class="card-img-top" src="{{ MEDIA_PREFIX }}{{ chart.icon }}">
            {% else %}
            <img style="height:32px" src="{% static "/svg/graph.svg" %}" alt="graph icon">
            {% endif %}
            <a href="{% url 'stats:chart' chart.slug %}">{{chart.title}}</a>
        </h5>
        <p class="card-text">{{ chart.value }}</p>
        {% if chart.more %}
            <a href="{{ chart.more }}" class="card-link">More</a>
        {% endif %}
    </div>
</div>
