{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
    <div class="card">
        {% if chart.more and chart.icon %}
        <a href="{{ chart.more }}" class="btn btn-default">
            <img src="{{ MEDIA_PREFIX }}{{ chart.icon }}" alt="{{ chart.label }}" style="max-width:64px">
        </a>
        {% elif chart.icon %}
            <img src="{{ MEDIA_PREFIX }}{{ chart.icon }}" alt="{{ chart.label }}" style="max-width:64px">
        {% endif %}
    <div class="card-body">
        <h4 class="card-title"><a href="{% url 'stats:chart' chart.pk %}">{{chart.title}}</a></h4>
        <p class="card-text">{{ chart.value }}</p>
        {% if chart.more and chart.icon == False %}
            <a href="{{ chart.more }}" class="btn btn-default card-link">More</a>
        {% endif %}
    </div>
</div>
