{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
    <div class="card">
        {% if location.more and location.icon %}
        <a href="{{ location.more }}" class="btn btn-default">
            <img src="{{ MEDIA_PREFIX }}{{ location.icon }}" alt="{{ location.label }}" style="max-width:64px">
        </a>
        {% elif location.icon %}
            <img src="{{ MEDIA_PREFIX }}{{ location.icon }}" alt="{{ location.label }}" style="max-width:64px">
        {% endif %}
    <div class="card-body">
        <h4 class="card-title"><a href="{% url 'stats:waypoints' location.slug %}">{{location.title}}</a></h4>
        <p class="card-text">{{ location.value }}</p>
        {% if location.more and location.icon == False %}
            <a href="{{ location.more }}" class="btn btn-default card-link">More</a>
        {% endif %}
    </div>
</div>
