{% load static %}
{% load simplestats %}
{% get_media_prefix as MEDIA_PREFIX %}
<div class="card">
    {% if location.icon %}
    <img class="card-img-top" src="{{ MEDIA_PREFIX }}{{ location.icon }}" alt="map icon">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            {% if location.icon %}
            <img style="max-height:32px; max-width: 32px" class="card-img-top" src="{{ MEDIA_PREFIX }}{{ location.icon }}">
            {% else %}
            <img style="height:32px" src="{% static "/svg/map-marker.svg" %}" alt="graph icon">
            {% endif %}
            <a href="{% url 'stats:waypoints' location.slug %}">{{location.title}}</a>
        </h5>
        <p class="card-text">{{ location.description }}</p>
        <time class="card-text" datetime="{{location.timestamp.isoformat}}">{{ location.timestamp|timesince }}</time>
        {% if location.more %}
            <a href="{{ location.more }}" class="card-link">More</a>
        {% endif %}
    </div>
</div>
